a {

	font-size: 110%;
	color: black;
	outline-style: none;
	background-color: none;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	margin: 5px 5px 5px 5px;
	text-shadow: 1px 1px 1px #000;
	/*border-bottom: 4px solid #FFA598;*/


}
